/.idea/
/.settings/
.target/
[Oo]bj
[Bb]in
*.user
*.suo
/.VS/*
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
*.iml
.project
*.class
#folders#
/target
/neoDb*
/data
/src/main/webapp/WEB-INF/classes
*/META-INF/*

# Packaged files #
*.jar
*.war
*.ear
/target/
/target/